@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --red: #ff0000;
  --green: #39af59;
  --dark-green: #178700;
  --yelow: #fff52c;
}

/* .container {
  width: 90%;
} */
