@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root{
  --red : #FF0000;
  --light-green: #7dc891;
  --green: #39AF59;
  --dark-green: #178700;
  --yelow: #FFF52C;
}

